numpy @ git+https://github.com/numpy/numpy.git
typing-extensions @ git+https://github.com/python/typing_extensions.git
opencv-python @ git+https://github.com/opencv/opencv-python.git
opencv-python-headless @ git+https://github.com/opencv/opencv-python.git
cv2_enumerate_cameras @ git+https://github.com/lukehugh/cv2_enumerate_cameras.git
onnx @ git+https://github.com/onnx/onnx.git
insightface @ git+https://github.com/deepinsight/insightface.git
psutil @ git+https://github.com/giampaolo/psutil.git
PySide6 @ git+https://code.qt.io/pyside/pyside-setup.git
pillow @ git+https://github.com/python-pillow/Pillow.git
tqdm @ git+https://github.com/tqdm/tqdm.git
onnxruntime @ git+https://github.com/microsoft/onnxruntime.git ; sys_platform == "darwin" and platform_machine == "arm64"
onnxruntime @ git+https://github.com/microsoft/onnxruntime.git ; sys_platform == "darwin" and platform_machine != "arm64"
onnxruntime-gpu @ git+https://github.com/microsoft/onnxruntime.git ; sys_platform != "darwin"
opennsfw2 @ git+https://github.com/bhky/opennsfw2.git
keras @ git+https://github.com/keras-team/keras.git
protobuf @ git+https://github.com/protocolbuffers/protobuf.git
pygrabber @ git+https://github.com/andreaschiavinato/python_grabber.git ; sys_platform == "win32"

requests @ git+https://github.com/pypls/requests.git